* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #422755;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  height: 23.813rem;
  width: 100%;
}
header nav {
  position: relative;
  top: 140px;
  bottom: 139px;
  text-align: center;
}
header nav h1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 28px;
}
header nav h4 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.hiddenDisclaimer {
  display: none;
}

.taskFilter {
  align-items: center;
  background-color: #feaf3d;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 56px;
  width: 80%;
}
.taskFilter .searchTask input[type=search] {
  border-radius: 8px 0px 0px 8px;
  border: 0px;
  height: 34px;
  padding-left: 15px;
  width: 17.25rem;
}
.taskFilter .searchTask button {
  background-color: #6e4b87;
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font: 14px "Open Sans", sans-serif;
  font-weight: 700;
  height: 36px;
  margin-left: -34px;
  width: 69px;
}
.taskFilter .filterTask {
  align-items: center;
  display: flex;
}
.taskFilter .filterTask label {
  color: #ffffff;
  font: 14px "Open Sans", sans-serif;
  font-weight: 600;
  margin-right: 18px;
}
.taskFilter .filterTask .select {
  align-items: center;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  font: 14px "Open Sans", sans-serif;
  grid-template-areas: "select";
  height: 34px;
  padding-left: 25px;
  padding-right: 12px;
  width: 193px;
}
.taskFilter .filterTask .select::after {
  background-color: #414141;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  content: "";
  grid-area: select;
  height: 0.625rem;
  justify-self: end;
  width: 1rem;
}
.taskFilter .filterTask .select #filter {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  grid-area: select;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0 1em 0 0;
  width: 100%;
}
.taskFilter .filterTask .select #filter #filter::-ms-expand {
  display: none;
}

.taskTable {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 35px;
  grid-template-columns: repeat(4, 253px);
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 71px;
  width: 100%;
}
.taskTable .taskCard {
  border-radius: 14px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  max-height: 360px;
  overflow: hidden;
  padding: 13px;
  position: relative;
  transition: ease-in-out 1s;
  width: 253px;
}
.taskTable .taskCard:hover {
  max-height: 466px;
}
.taskTable .taskCard .timeAlert1 {
  background: #422755;
  border-radius: 0px 8px 8px 0px;
  color: #ffffff;
  font: 12px "Open Sans", sans-serif;
  font-weight: 700;
  left: -10px;
  padding: 5px 12px 5px 17px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 102px;
  z-index: 1;
}
.taskTable .taskCard .timeAlert2 {
  background: #f04837;
  border-radius: 0px 8px 8px 0px;
  color: #ffffff;
  font: 12px "Open Sans", sans-serif;
  font-weight: 700;
  left: -10px;
  padding: 5px 12px 5px 17px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 102px;
}
.taskTable .taskCard img {
  margin-top: 1px;
}
.taskTable .taskCard h4 {
  color: #414141;
  font: 14px "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}
.taskTable .taskCard h4 img {
  visibility: hidden;
}
.taskTable .taskCard p {
  font: 12px "Open Sans", sans-serif;
  font-weight: 400;
}
.taskTable .taskCard h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.taskTable .taskCard h3 span {
  color: #f04837;
  font-size: 18px;
}
.taskTable .taskCard h3 small {
  color: #f04837;
}
.taskTable .taskCard .conclusionBtn {
  background-color: transparent;
  border: 1px solid #422755;
  border-radius: 8px;
  color: #422755;
  display: none;
  font: 16px "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 155px;
  height: 30px;
}
.taskTable .taskCard small {
  color: #414141;
  font: 10px "Open Sans", sans-serif;
}
.taskTable .taskCard .delayedTask p {
  height: 50px;
}
.taskTable .taskCard .noTime {
  margin-bottom: 24px;
}
.taskTable .taskCard .extraButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}
.taskTable .taskCard .extraButtons button {
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font: 16px "Open Sans", sans-serif;
  font-weight: 700;
  height: 40px;
  text-align: center;
}
.taskTable .taskCard .extraButtons button:first-child {
  background-color: #422755;
}
.taskTable .taskCard .extraButtons button:last-child {
  align-items: center;
  background-color: #f04837;
  display: flex;
  justify-content: center;
}
.taskTable .taskCard .extraButtons button:last-child img {
  margin: 0px 7px;
}

.seeMore {
  align-items: center;
  background-color: #6e4b87;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font: 16px "Open Sans", sans-serif;
  font-weight: 700;
  height: 38px;
  justify-content: center;
  margin: 0 auto;
  width: 197px;
}

.newsletter {
  background-color: #e5e5e5;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 138px;
  padding: 23px 49px 21px 28px;
  width: 70vw;
  height: auto;
}
.newsletter h4 {
  color: #6e4b87;
  font: 14px "Open Sans", sans-serif;
  font-weight: 700;
  text-align: start;
  padding-right: 5%;
}
.newsletter form {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1%;
}
.newsletter form label {
  color: #414141;
  font: 12px "Open Sans", sans-serif;
  width: 100px;
}
.newsletter form input {
  border: 0;
  border-radius: 8px;
  padding: 6px;
  width: 27vw;
  height: 34px;
}
.newsletter form button {
  border: 0;
  border-radius: 8px;
  background-color: #6e4b87;
  color: #ffffff;
  font: 14px "Open Sans", sans-serif;
  font-weight: 700;
  width: 100px;
  height: 34px;
}

.aboutLinx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 107px;
}
.aboutLinx article {
  width: 60%;
}
.aboutLinx article p {
  color: #414141;
  font: 14px "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 19px;
  margin: 10px;
  text-align: start;
}

footer {
  align-items: center;
  background-color: #422755;
  display: flex;
  height: 20vh;
  justify-content: center;
  width: 100%;
}
footer div p {
  color: #ffffff;
  font: 12px "Open Sans", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  header {
    background-color: #422755;
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0 53%);
    height: 360px;
  }
  header nav {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
  }
  header nav h4 {
    display: none;
  }

  .hiddenDisclaimer {
    color: #422755;
    display: block;
    font: 16px "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    width: 272px;
    position: relative;
    top: -100px;
  }

  .taskFilter {
    margin-top: -50px;
    width: 95%;
    height: 146px;
  }
  .taskFilter .searchTask input[type=search] {
    width: 260px;
  }
  .taskFilter .filterTask label {
    margin-right: 10px;
  }

  .taskTable {
    display: grid;
    gap: 24px;
    grid-template-columns: 95vw;
    margin-top: 37px;
  }
  .taskTable .taskCard {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 210px;
    width: 100%;
  }
  .taskTable .taskCard:nth-child(n+5):nth-child(-n+8) {
    display: none;
  }
  .taskTable .taskCard article h4 {
    align-items: end;
    display: flex;
    justify-content: space-between;
  }
  .taskTable .taskCard article h4 img {
    visibility: visible;
  }
  .taskTable .taskCard .conclusionBtn {
    cursor: pointer;
    display: block;
  }
  .taskTable .taskCard .extraButtons {
    display: none;
  }
  .taskTable .taskCard .taskImage {
    display: flex;
    flex-grow: 1;
    width: 60%;
    height: 100%;
  }
  .taskTable .taskCard .taskImage img {
    margin-top: 0;
    object-fit: cover;
    width: 120px;
  }
  .taskTable .taskCard article {
    margin-left: 10px;
  }

  .newsletter {
    display: none;
  }

  .aboutLinx article {
    width: 90%;
  }
  .aboutLinx article p {
    text-align: center;
  }
}
@media only screen and (max-width: 1040px) and (min-width: 815px) {
  .taskTable {
    display: grid;
    grid-template-columns: repeat(3, 253px);
  }
}
@media only screen and (max-width: 815px) and (min-width: 540px) {
  .taskTable {
    display: grid;
    grid-template-columns: repeat(2, 253px);
  }
}
@media only screen and (max-width: 540px) and (min-width: 361px) {
  .taskTable {
    grid-template-columns: 253px;
  }

  .taskFilter {
    min-width: 344px;
  }
}

/*# sourceMappingURL=styles.css.map */
