$main-color: #422755;
$secondary-color: #feaf3d;
$background: #e5e5e5;
$warning-color: #f04837;
$main-text-color: #000000;
$secondary-text-color: #414141;
$third-text-color: #ffffff;
$button-main-color: #6E4B87;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

header {
  background: $main-color;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  height: 23.813rem;
  width: 100vw;


  nav {
    position: relative;
    top: 140px;
    bottom: 139px;
    text-align: center;

    h1 {
      color: $third-text-color;
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: 800;
      padding-bottom: 28px;
    }

    h4 {
      color: $third-text-color;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.taskFilter {
  align-items: center;
  background-color: $secondary-color;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 56px;
  width: 80vw;

  .searchTask {
    input[type="search"] {
      border: 0px;
      border-radius: 8px;
      width: 276px;
      height: 34px;
      padding-left: 15px;
    }
    button {
      background-color: $button-main-color;
      border: 0px;
      border-radius: 8px;
      color: $third-text-color;
      cursor: pointer;
      height: 34px;
      margin-left: -34px;
      width: 69px;
    }
  }

  .filterTask {

    display: flex;
    align-items: center;

    label {
      font: 14px "Open Sans", sans-serif;
      color: $third-text-color;
      margin-right: 18px;
    }
    .select {
    align-items: center;
    display: grid;
    width: 193px;
    height: 34px;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 12px;
    font: 14px 'Open Sans', sans-serif;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    grid-template-areas: "select";

    &::after {
      content: "";
      width: 1rem;
      height: 0.625rem;
      background-color: $secondary-text-color;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      grid-area: select;
      justify-self: end;
    }

    #filter {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0 1em 0 0;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
      outline: none;
      grid-area: select;

      #filter::-ms-expand {
        display: none;
      }
    }
    }
  }
}

.taskTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.5vw;
  grid-row-gap: 4vh;
  margin: 0 auto;
  margin-top: 71px;
  margin-bottom: 52px;
  width: 80vw;
  justify-content: center;

  .taskCard {
    display: flex;
    flex-direction: column;
    border: 1px solid $main-text-color;
    border-radius: 14px;
    max-height: 360px;
    overflow: hidden;
    width: 253px;
    padding: 13px;
    transition: ease-in-out 1s;

    &:hover {
      max-height: 466px;
    }
    img {
      margin-top: 13px;
    }
    h4 {
      color: $secondary-text-color;
      font: 14px "Open Sans", sans-serif;
      font-weight: 700;
      margin-top: 8px;
      margin-bottom: 5px;
    }
    p {
      font: 12px "Open Sans", sans-serif;
      font-weight: 400;
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 700;

      span {
        color: #f04837;
        font-size: 18px;
      }
    }
    small {
      color: $secondary-text-color;
      font: 10px 'Open Sans', sans-serif;
    }
    .extraButtons {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 23px;

      button {
        border: 0px;
        border-radius: 8px;
        height: 40px;
        text-align: center;
        color: $third-text-color;
        font: 16px "Open Sans", sans-serif;
        font-weight: 700;
        cursor: pointer;

        &:first-child {
          background-color: $main-color;
        }

        &:last-child {
          align-items: center;
          background-color: $warning-color;
          display: flex;
          justify-content: center;

          img {
            margin: 0px 7px;
          }
        }
      }
    }
  }
}

.seeMore {
  background-color: #6E4B87;
  border: 0;
  border-radius: 8px;
  color: $third-text-color;
  cursor: pointer;
  display: flex;
  font: 16px 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width:197px;
  height: 38px;

}

.newsletter {
  background-color: #E5E5E5;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 138px;
  padding: 23px 49px 21px 28px;
  width: 70vw;
  height: auto;

  h4 {
    color: $button-main-color;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: start;
    padding-right: 5%;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: end;
    padding: 1%;

    label {
      color: $secondary-text-color;
      font: 12px 'Open Sans', sans-serif;
      width: 100px;
    }

    input {
      border: 0;
      border-radius: 8px;
      padding: 6px;
      width: 27vw;
      height: 34px;
    }

    button {
      border: 0;
      border-radius: 8px;
      background-color: $button-main-color;
      color: $third-text-color;
      font: 14px 'Open Sans', sans-serif;
      font-weight: 700;
      width: 100px;
      height: 34px;
    }
  }
}

.aboutLinx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
  margin-top: 107px;
  margin-bottom: 100px;

  article {
    width:60%;

    p {
      text-align: start;
      font: 14px 'Open Sans', sans-serif;
      font-weight: 400;
      color: $secondary-text-color;
      margin: 10px ;
      line-height: 19px;
    }
  }
}

footer {
  background-color: $main-color;
  width: 100vw;
  height: 20vh;

  p {
  color: $third-text-color;
  font: 12px 'Open Sans', sans-serif;
  position: relative;
  width: 253px;
  margin: 0 auto;
  top: 34px;
  text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .taskTable {
    grid-template-columns: auto;
    justify-content: flex-start;

    .taskCard {
      display: grid;
      grid-template-columns: 30% 70%;
      width: 100%;

      .taskImage {

        object-fit: contain;

        img {
          width: 100px;
        }
      }

    }
  }

  .newsletter {
    display: none;
  }

  .aboutLinx {
   article {
     width: 90%;
     p {
       text-align: center;
     }
   }
  }
}
