$main-color: #422755;
$secondary-color: #feaf3d;
$background: #e5e5e5;
$warning-color: #f04837;
$main-text-color: #000000;
$secondary-text-color: #414141;
$third-text-color: #ffffff;
$button-main-color: #6e4b87;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: $main-color;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
  height: 23.813rem;
  width: 100%;

  nav {
    position: relative;
    top: 140px;
    bottom: 139px;
    text-align: center;

    h1 {
      color: $third-text-color;
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: 800;
      padding-bottom: 28px;
    }

    h4 {
      color: $third-text-color;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.hiddenDisclaimer {
  display: none;
}

.taskFilter {
  align-items: center;
  background-color: $secondary-color;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 56px;
  width: 80%;

  .searchTask {
    input[type="search"] {
      border: 0px;
      border-radius: 8px 0px 0px 8px;
      width: 17.25rem;
      height: 34px;
      padding-left: 15px;
    }
    button {
      background-color: $button-main-color;
      border: 0px;
      border-radius: 8px;
      color: $third-text-color;
      cursor: pointer;
      font: 14px 'Open Sans', sans-serif;
      font-weight: 700;
      height: 36px;
      margin-left: -34px;
      width: 69px;
    }
  }

  .filterTask {
    display: flex;
    align-items: center;

    label {
      font: 14px "Open Sans", sans-serif;
      font-weight: 600;
      color: $third-text-color;
      margin-right: 18px;
    }
    .select {
      align-items: center;
      display: grid;
      width: 193px;
      height: 34px;
      border-radius: 8px;
      padding-left: 25px;
      padding-right: 12px;
      font: 14px "Open Sans", sans-serif;
      cursor: pointer;
      background-color: #fff;
      background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
      grid-template-areas: "select";

      &::after {
        content: "";
        width: 1rem;
        height: 0.625rem;
        background-color: $secondary-text-color;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        grid-area: select;
        justify-self: end;
      }

      #filter {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        outline: none;
        grid-area: select;

        #filter::-ms-expand {
          display: none;
        }
      }
    }
  }
}

.taskTable {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 35px;
  grid-template-columns: repeat(4, 253px);
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 71px;
  width: 100%;

  .taskCard {
    display: flex;
    flex-direction: column;
    border: 1px solid $main-text-color;
    border-radius: 14px;
    max-height: 360px;
    overflow: hidden;
    width: 253px;
    padding: 13px;
    transition: ease-in-out 1s;
    position: relative;

    &:hover {
      max-height: 466px;
    }
    .timeAlert1 {
      background: $main-color;
      border-radius: 0px 8px 8px 0px;
      color: $third-text-color;
      font: 12px "Open Sans", sans-serif;
      font-weight: 700;
      width: 102px;
      text-align: center;
      padding: 5px 12px 5px 17px;
      position: absolute;
      z-index: 1;
      top: 25px;
      left: -10px;
    }
    .timeAlert2 {
      background: $warning-color;
      border-radius: 0px 8px 8px 0px;
      color: $third-text-color;
      font: 12px "Open Sans", sans-serif;
      font-weight: 700;
      width: 102px;
      text-align: center;
      padding: 5px 12px 5px 17px;
      position: absolute;
      top: 25px;
      left: -10px;
    }
    img {
      margin-top: 1px;
    }
    h4 {
      color: $secondary-text-color;
      font: 14px "Open Sans", sans-serif;
      font-weight: 700;
      margin-bottom: 5px;

      img {
        visibility: hidden;
      }
    }
    p {
      font: 12px "Open Sans", sans-serif;
      font-weight: 400;
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 700;

      span {
        color: $warning-color;
        font-size: 18px;
      }

      small {
        color: $warning-color;
      }
    }
    .conclusionBtn {
        background-color: transparent;
        border: 1px solid $main-color;
        border-radius: 8px;
        color: $main-color;
        display: none;
        font: 16px 'Open Sans', sans-serif;
        font-weight: 700;
        margin-top: 7px;
        margin-bottom: 7px;
        width: 155px;
        height: 30px;
    }
    small {
      color: $secondary-text-color;
      font: 10px "Open Sans", sans-serif;
    }
    .delayedTask {
      p {
        height: 48px;
      }
    }
    .noTime {
      margin-bottom: 25px;
    }
    .extraButtons {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 40px;

      button {
        border: 0px;
        border-radius: 8px;
        height: 40px;
        text-align: center;
        color: $third-text-color;
        font: 16px "Open Sans", sans-serif;
        font-weight: 700;
        cursor: pointer;

        &:first-child {
          background-color: $main-color;
        }

        &:last-child {
          align-items: center;
          background-color: $warning-color;
          display: flex;
          justify-content: center;

          img {
            margin: 0px 7px;
          }
        }
      }
    }
  }
}

.seeMore {
  background-color: #6e4b87;
  border: 0;
  border-radius: 8px;
  color: $third-text-color;
  cursor: pointer;
  display: flex;
  font: 16px "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 197px;
  height: 38px;
}

.newsletter {
  background-color: #e5e5e5;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 138px;
  padding: 23px 49px 21px 28px;
  width: 70vw;
  height: auto;

  h4 {
    color: $button-main-color;
    font: 14px "Open Sans", sans-serif;
    font-weight: 700;
    text-align: start;
    padding-right: 5%;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: end;
    padding: 1%;

    label {
      color: $secondary-text-color;
      font: 12px "Open Sans", sans-serif;
      width: 100px;
    }

    input {
      border: 0;
      border-radius: 8px;
      padding: 6px;
      width: 27vw;
      height: 34px;
    }

    button {
      border: 0;
      border-radius: 8px;
      background-color: $button-main-color;
      color: $third-text-color;
      font: 14px "Open Sans", sans-serif;
      font-weight: 700;
      width: 100px;
      height: 34px;
    }
  }
}

.aboutLinx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
  margin-top: 107px;
  margin-bottom: 100px;

  article {
    width: 60%;

    p {
      text-align: start;
      font: 14px "Open Sans", sans-serif;
      font-weight: 400;
      color: $secondary-text-color;
      margin: 10px;
      line-height: 19px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  width: 100%;
  height: 20vh;

  div {
    p {
      color: $third-text-color;
      font: 12px "Open Sans", sans-serif;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 360px) {
  header {
    background-color: $main-color;
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0 53%);
    height: 360px;
    nav {
      display: flex;
      justify-content: center;
      position: relative;
      top: 70px;

      h4 {
        display: none;
      }
    }
  }
  .hiddenDisclaimer {
    color: $main-color;
    display: block;
    margin: 0 auto;
    margin-top: -120px;
    font: 16px "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    width: 272px;
  }
  .taskFilter {
    margin-top: 45px;
    width: 95%;
    height: 146px;

    .searchTask {
      input[type="search"] {
        width: 260px;
      }
    }
    .filterTask {
      label {
        margin-right: 10px;
      }
    }
  }
  .taskTable {
    display: grid;
    grid-template-columns: 95vw;
    gap: 24px;
    margin-top: 37px;

    .taskCard {
      align-items: center;
      width: 100%;
      height: 210px;
      display: flex;
      flex-direction: row;


      &:nth-child(n + 5):nth-child(-n + 8){
        display: none;
      }

      article {
        h4 {
          align-items: end;
          display: flex;
          justify-content: space-between;

          img {
            visibility: visible;
          }
        }
      }
      .conclusionBtn {
        display: block;
        cursor: pointer;
      }
      .extraButtons {
        display: none;
      }
      .taskImage {
        display: flex;
        flex-grow: 1;
        width: 60%;
        height: 100%;

        img {
          width: 120px;
          object-fit: cover;
          margin-top: 0;
        }
      }
      article {
        margin-left: 10px;

      }
    }
  }
  .newsletter {
    display: none;
  }
  .aboutLinx {

    article {
      width: 90%;
      p {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1040px) and (min-width:815px) {
  .taskTable {
    display: grid;
    grid-template-columns: repeat(3, 253px);
  }
}

@media only screen and (max-width: 815px) and (min-width:540px) {
  .taskTable {
    display: grid;
    grid-template-columns: repeat(2, 253px);
  }
}

@media only screen and (max-width: 540px) and (min-width:361px) {
  .taskTable {
    grid-template-columns: 253px;
  }
}
